@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #e7e9ec;
}

.content {
    width: 100vw;
    height: 100%;
    padding: 1rem;
    background-color: #FFF;
}

.content h1 {
    text-align: center;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}